/*Qoutes animation*/
.lines{
    animation-name: quoteShow;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes quoteShow{
    from{
        transform:translate(600px);
        opacity: 0.7;
    }
    to{
        transform: translate(0px);
        opacity: 1;
    }
}

/*Welcome box animation*/
.sectwo{
    animation: s2 3s;
}
@keyframes s2{
    from{
        transform: translate(-200px);
    }
    to{
        transform: translate(0px);
    }
}
/* letter animation*/
.h{
    animation: two 5s infinite;
}
.e{
    animation: one 5s infinite;
}
.l1{
    animation: two 5s infinite;
}
.l2{
    animation: one 5s infinite;
}
.o{
    animation: two 5s infinite;
}

@keyframes one{
    20%{
        color: white;
    }
    40%{
        color:black;
    }
    65%{
        color: white;
    }
    80%{
        color: black;
    }
    100%{
        color: white;
    }
}

@keyframes two{
    20%{
        color: black;
    }
    40%{
        color:white;
    }
    65%{
        color: black;
    }
    80%{
        color: white;
    }
    100%{
        color: black;
    }
}
/*Handshake*/
.hand{
    animation: handshake 2s;
}
@keyframes handshake{
    20%{
        transform: rotate(10deg) translateY(-50px);
        opacity: 0.7;
    }
    40%{
        transform: rotate(-10deg) translateY(-150px);
        
    }
    60%{
        transform: rotate(10deg),translateY(-250px);
        width: 330px;
        height: 330px;
    }
    80%{
        transform: rotate(-10deg),translateY(-150px);
    }
    100%{
        transform: rotate(10deg);
    }
}
.hand:hover{
    animation: handshake1 3s infinite;
}
@keyframes handshake1{
    10%{
        transform: rotate(-30deg,-20deg);
    }
    20%{    
        transform: rotate(20deg);
    }
    30%{
        transform: rotate(-20deg);
    }
    40%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(-20deg);
    }
    60%{
        transform: rotate(20deg);
    }
    70%{
        transform: rotate(-20deg);
    }
    80%{
        transform: rotate(20deg);
    }
    90%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}
